@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
:root {
  font-size: 62.5%;
  --text-font: "Barlow", sans-serif;
  --heading-text: "Fraunces", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 1.5rem;
  font-family: var(--text-font);
  font-weight: 700;
}

header {
  background: url(/images/mobile/image-header.jpg) no-repeat center;
  background-size: 100% 100%;
  height: 60rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10rem auto;
  padding: 2rem;
}
header .nav-links {
  display: grid;
  grid-template-columns: auto;
  row-gap: 5rem;
  text-align: center;
  font-weight: 700;
}
header .nav-links a {
  color: hsl(232, 10%, 55%);
  text-decoration: none;
}
header .nav-links button {
  cursor: pointer;
  padding: 3rem;
  border-radius: 4rem;
  border: none;
  font-family: var(--heading-text);
  text-transform: uppercase;
  font-weight: 900;
  background: hsl(51, 100%, 49%);
}
header .hero-text {
  grid-column: 1/span 2;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
header .hero-text h1 {
  font-family: var(--heading-text);
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.6rem;
  text-align: center;
  align-self: center;
}
header .hero-text img {
  justify-self: center;
}

#transform figure img {
  width: 100%;
}
#transform .transform-text {
  padding: 4rem 1.8rem;
  text-align: center;
}
#transform .transform-text h1 {
  margin-bottom: 2rem;
  font-family: var(--heading-text);
  font-weight: 900;
  color: hsl(212, 27%, 19%);
}
#transform .transform-text p {
  color: hsl(213, 9%, 39%);
  margin-bottom: 3rem;
  line-height: 1.5;
}
#transform .transform-text a {
  font-family: var(--heading-text);
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  text-transform: uppercase;
  text-decoration: none;
}

#stand-out figure img {
  width: 100%;
}
#stand-out .stand-out-text {
  padding: 4rem 1.8rem;
  text-align: center;
}
#stand-out .stand-out-text h1 {
  margin-bottom: 2rem;
  font-family: var(--heading-text);
  font-weight: 900;
  color: hsl(212, 27%, 19%);
}
#stand-out .stand-out-text p {
  color: hsl(213, 9%, 39%);
  margin-bottom: 3rem;
  line-height: 1.5;
}
#stand-out .stand-out-text a {
  font-family: var(--heading-text);
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  text-transform: uppercase;
  text-decoration: none;
}

#graphic-design {
  background: url(/images/mobile/image-graphic-design.jpg) no-repeat center;
  background-size: 100% 100%;
  height: 60rem;
  display: grid;
  grid-template-columns: auto;
  align-items: end;
  padding-bottom: 6rem;
}
#graphic-design .graphic-design-text {
  padding: 0 2rem;
  text-align: center;
  color: hsl(167, 40%, 24%);
}
#graphic-design .graphic-design-text h1 {
  margin-bottom: 2.5rem;
  font-family: var(--heading-text);
  font-weight: 900;
  text-transform: capitalize;
}

#photography {
  background: url(/images/mobile/image-photography.jpg) no-repeat center;
  background-size: 100% 100%;
  height: 60rem;
  display: grid;
  grid-template-columns: auto;
  align-items: end;
  padding-bottom: 6rem;
}
#photography .photography-text {
  padding: 0 2rem;
  text-align: center;
  color: hsl(198, 62%, 26%);
}
#photography .photography-text h1 {
  font-family: var(--heading-text);
  margin-bottom: 3rem;
}

#testimonials {
  text-align: center;
  color: hsl(213, 9%, 39%);
  padding: 7rem 3rem;
  display: grid;
  grid-template-columns: auto;
  row-gap: 6rem;
}
#testimonials h4 {
  font-family: var(--heading-text);
  font-weight: 900;
  text-transform: uppercase;
  color: hsl(232, 10%, 55%);
  letter-spacing: 0.25rem;
}
#testimonials figure {
  padding-bottom: 3rem;
}
#testimonials figure img {
  border-radius: 50%;
  max-width: 12rem;
}
#testimonials b {
  display: block;
  font-family: var(--heading-text);
  font-weight: 900;
  font-size: 2rem;
  color: hsl(212, 27%, 19%);
  padding-top: 4rem;
}
#testimonials small {
  display: block;
  font-size: 1.5rem;
  color: hsl(210, 4%, 67%);
  padding-top: 1.2rem;
}

#image-gallery {
  display: grid;
  grid-template-columns: auto auto;
}
#image-gallery img {
  width: 100%;
  height: 100%;
}

footer {
  background: hsl(168, 34%, 41%);
  padding: 5rem 4rem;
  padding-bottom: 8rem;
  text-align: center;
}
footer .logo img {
  width: 15rem;
}
footer .navbar {
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  margin-top: 4rem;
  margin-bottom: 8rem;
}
footer .navbar a {
  text-decoration: none;
  color: hsl(167, 40%, 24%);
}
footer .icons {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 375px) {
  body {
    font-size: 1.8rem;
  }
  .hero-text h1,
  .transform-text h1,
  .stand-out-text h1 {
    font-size: 3.5rem;
  }
  .graphic-design-text h1,
  .photography-text h1 {
    font-size: 3rem;
  }
  .transform-text,
  .stand-out-text {
    padding: 4rem 3rem;
  }
  #testimonials h4 {
    font-size: 1.7rem;
    letter-spacing: 0.5rem;
  }
}
@media screen and (max-width: 767px) {
  .navbar {
    position: relative;
  }
  .navbar .hamburger {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0.5rem;
  }
  .navbar .nav-links {
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    z-index: 2;
    width: 200%;
    top: 80%;
    padding: 4rem;
    transform: translate(-50%, -10%);
    clip-path: circle(10rem at 90% -30%);
    -webkit-clip-path: circle(10rem at 90% -30%);
    transition: all 1s ease-in-out;
  }
  .navbar .nav-links a {
    color: hsl(232, 10%, 55%);
    text-decoration: none;
  }
  .navbar .open {
    clip-path: circle(80rem at 90% -10%);
    -webkit-clip-path: circle(80rem at 90% -10%);
  }
}
@media screen and (min-width: 768px) {
  :root h1 {
    font-size: 3rem;
  }
  body {
    font-size: 1.5rem;
  }
  header {
    background: url(/images/desktop/image-header.jpg) no-repeat center;
    background-size: cover;
    grid-template-rows: 5rem auto;
  }
  header .logo {
    display: grid;
    align-content: center;
  }
  header .logo img {
    width: 15rem;
  }
  header .navbar .hamburger {
    display: none;
  }
  header .nav-links {
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    align-content: center;
    background-color: inherit;
    position: relative;
    z-index: none;
    width: inherit;
  }
  header .nav-links a {
    align-self: center;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1.8rem;
  }
  header .nav-links button {
    padding: 1rem 2rem;
    font-family: var(--heading-text);
    font-weight: 900;
    font-size: 1.5rem;
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 2rem;
    background: hsl(0, 0%, 100%);
  }
  #transform {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #transform figure {
    order: 2;
    background: url(/images/desktop/image-transform.jpg) no-repeat center;
    background-size: 100% 100%;
    padding-left: 100%;
  }
  #transform .transform-text {
    padding: 5rem 5rem;
    text-align: left;
  }
  #stand-out {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #stand-out figure {
    background: url(/images/desktop/image-stand-out.jpg) no-repeat center;
    background-size: 100% 100%;
    padding-left: 100%;
  }
  #stand-out .stand-out-text {
    padding: 5rem 5rem;
    text-align: left;
  }
  #graphic-design {
    background: url(/images/desktop/image-graphic-design.jpg) no-repeat center;
    background-size: 100% 100%;
  }
  #graphic-design .graphic-design-text {
    width: 40rem;
    justify-self: center;
  }
  #photography {
    background: url(/images/desktop/image-photography.jpg) no-repeat center;
    background-size: 100% 100%;
  }
  #photography .photography-text {
    width: 40rem;
    justify-self: center;
  }
  #testimonials {
    grid-template-columns: auto auto auto;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  #testimonials h4 {
    grid-column: 1/span 3;
  }
  #testimonials figure {
    padding-bottom: 0;
    height: 13rem;
  }
  #testimonials p {
    height: 10rem;
  }
  #testimonials b,
  #testimonials small {
    padding-top: 0;
  }
  #testimonials .testimonial1,
  #testimonials .testimonial2,
  #testimonials .testimonial3 {
    display: grid;
    grid-template-columns: auto;
    row-gap: 3rem;
  }
  #image-gallery {
    height: 78rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
  #image-gallery .milkbottles {
    background: url(/images/desktop/image-gallery-milkbottles.jpg) no-repeat center;
    background-size: 100% 100%;
    padding-left: 100%;
  }
  #image-gallery .orange {
    background: url(/images/desktop/image-gallery-orange.jpg) no-repeat center;
    background-size: 100% 100%;
    padding-left: 100%;
  }
  #image-gallery .cone {
    background: url(/images/desktop/image-gallery-cone.jpg) no-repeat center;
    background-size: 100% 100%;
    padding-left: 100%;
  }
  #image-gallery .sugar-cubes {
    background: url(/images/desktop/image-gallery-sugarcubes.jpg) no-repeat center;
    background-size: 100% 100%;
    padding-left: 100%;
  }
}
@media screen and (min-width: 1024px) {
  header {
    height: 75rem;
  }
  header .hero-text {
    grid-template-rows: 25rem auto;
  }
  header .hero-text h1 {
    font-size: 4rem;
  }
  .lg-grid {
    display: grid;
    grid-template-columns: auto auto;
  }
  #transform {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 55rem 100%;
  }
  #transform .transform-text {
    justify-content: center;
    align-content: center;
    padding: 0;
    width: 35rem;
    margin: auto;
    text-align: left;
  }
  #transform .transform-text h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  #transform .transform-text p {
    color: hsl(213, 9%, 39%);
    margin-bottom: 3rem;
    line-height: 1.5;
  }
  #transform .transform-text a {
    font-family: var(--heading-text);
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    text-decoration: none;
  }
  #stand-out {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 55rem 100%;
  }
  #stand-out .stand-out-text {
    padding: 0;
    width: 35rem;
    margin: auto;
    text-align: left;
  }
  #stand-out .stand-out-text h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  #stand-out .stand-out-text p {
    color: hsl(213, 9%, 39%);
    margin-bottom: 3rem;
    line-height: 1.5;
  }
  #stand-out .stand-out-text a {
    font-family: var(--heading-text);
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    text-decoration: none;
  }
  #graphic-design {
    background-size: cover;
    height: 55rem;
  }
  #graphic-design .graphic-design-text {
    width: 40rem;
    justify-self: center;
  }
  #photography {
    height: 55rem;
  }
  #photography .graphic-design-text {
    width: 50rem;
    justify-self: center;
  }
  #testimonials {
    width: 100rem;
    margin: auto;
  }
  #image-gallery {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100%;
    height: 40rem;
  }
}/*# sourceMappingURL=styles.css.map */